* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: "Fira Sans", sans-serif;
}

.main {
  height: 100vh;
  width: 100vw;
}

.container {
  position: relative;
  background-image: url("../public/images/Background.png");
  height: 100%;
}

.box_1,
.box_2,
.box_3,
.box_4 {
  position: absolute;
}

.box_1 {
  top: 15px;
  right: 0;
  width: 68%;
  height: 200px;
  padding-right: 30px;
}

.box_2 {
  top: 10px;
  width: 30%;
  height: 230px;
}

.box_3 {
  top: 145px;
  left: 30px;
  width: 55%;
  height: 550px;
  padding: 50px;
}

.box_4 {
  top: 510px;
  width: 65%;
  left: 20px;
}

/* Media Queries for Mobile Responsiveness */
@media only screen and (max-width: 768px) {
  .box_1 {
    top: 40px;
    right: 10px;
    width: 90%;
    height: auto;
    padding-right: 10px;
  }

  .box_2 {
    top: 150px;
    width: 90%;
    height: auto;
  }

  .box_3 {
    top: 380px;
    left: 5%;
    width: 90%;
    height: auto;
    padding: 10px;
  }

  .box_4 {
    top: 670px;
    width: 95%;
    left: 10px;
  }
}
