* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: black;
  font-family: "Fira Sans", sans-serif;
}

.main {
  height: 100vh;
  width: 100vw;
}

.container {
  position: relative;
  background-image: url("../public/images/Background.png");
  height: 100%;
}

.box_1,
.box_2,
.box_3,
.box_4 {
  position: absolute;
}

.box_1 {
  top: 1.5%;
  right: 0;
  width: 68%;
  height: 30vh;
  padding-right: 2%;
  z-index: 11;
}

.box_2 {
  top: 1%;
  width: 30%;
  height: 35vh;
  z-index: 10;
}

.box_3 {
  top: 22.5%;
  left: 3%;
  width: 58%;
  height: 70vh;
  padding: 3%;
}

.box_4 {
  top: 70vh;
  width: 65%;
  left: 2%;
}

/* Media Queries for Mobile Responsiveness */
@media only screen and (max-width: 768px) {
  .box_1 {
    top: 4%;
    left: 2%;
    width: 96%;
    height: auto;
  }

  .box_2 {
    top: 18vh;
    left: 1%;
    width: 96%;
    height: auto;
  }

  .box_3 {
    top: 45vh;
    left: 2%;
    width: 96%;
    height: auto;
    padding: 1%;
  }

  .box_4 {
    top: 84vh;
    width: 98%;
    left: 2%;
  }
}
